@{
  Layout = "_Layout";
}

@model TraderJoes.Models.Product

<h2>Product Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This product does not belong to any departments</p>
}
else
{
    @using (Html.BeginForm("AddToCart","Products", FormMethod.Post))
    {
      @Html.Hidden("CartId", 1)
      @Html.Hidden("ProductId", Model.ProductId)
      <input type="submit" value="Add" />
    }
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Product", "Edit", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Delete Product", "Delete", new { id = Model.ProductId })</p>
<p>@Html.ActionLink("Add a Department", "AddDepartment", new { id = Model.ProductId })</p>