@{
  Layout = "_Layout";
}

@model Template.Models.PlaceHolder2

<h2>Add a placeHolder</h2>

<h4>Add a placeHolder to this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PlaceHolder2Id)

  @Html.Label("Select placeHolder")
  @Html.DropDownList("PlaceHolderId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>