@{
  Layout = "_Layout";
}

@model Template.Models.PlaceHolder2

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @Html.Label("Select placeHolder")
  @Html.DropDownList("PlaceHolderId")

  @Html.Label("Add due date")
  @Html.TextBoxFor(model => model.DueDate, new { type = "date" })

  <input type="submit" value="Add new placeHolder2" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all placeHolder2s", "Index")</p>