@{
  Layout = "_Layout";
}

@model Template.Models.PlaceHolder2

<h2>PlaceHolder2 Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>
<h3>Due date: @Html.DisplayFor(model => model.DueDate)</h3>
@if (@Model.Completed == true)
{
  <p>Task Status: Completed</p>
}
else
{
  <p>Task Status: Not Completed</p>
}


@if(@Model.JoinEntities.Count == 0)
{
  <p>This placeHolder2 does not belong to any placeHolders</p>
}
else
{
  <h4>PlaceHolders the placeHolder2 belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.PlaceHolder.Name</li>
    @using (Html.BeginForm("DeletePlaceHolder", "PlaceHolder2s"))
    {
      @Html.Hidden("joinId", @join.PlaceHolderPlaceHolder2Id)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit PlaceHolder2", "Edit", new { id = Model.PlaceHolder2Id })</p>
<p>@Html.ActionLink("Delete PlaceHolder2", "Delete", new { id = Model.PlaceHolder2Id })</p>
<p>@Html.ActionLink("Add a PlaceHolder", "AddPlaceHolder", new { id = Model.PlaceHolder2Id })</p>